# OS
.DS_Store

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.project
.settings
atlassian-ide-plugin.xml

# Project
/avantmart/settings/local.py
/avantmart/public/static
/avantmart/public/media

venv
avantmart.db
